/* td{
    width: max-content;
} */

.infoTable {
  width: 100%;
  border-collapse: collapse;
}
.tc {
  color: white;
}
.text-blue {
	color: blue !important;
  }
  
.infoTable tr {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.infoTable span {
  color: white !important; /* Ensures bright text */
  filter: none !important; /* Removes any dimming effect */
  opacity: 1 !important; /* Ensures full visibility */
}

.infoTable td {
  display: flex;
  flex: 1;
  align-items: center;
  width: max-content;
  padding: 0 10px;
}

.info-icon {
  margin-right: 50px;
}

.mh-30 {
  max-height: 30px;
}
.fontSetting {
  font-size: small;
  opacity: 0.5;
}

@media (max-width: 480px) {
  .infoTable {
    margin-bottom: 70px;
    font-size: 12px; /* Reduce font size on very small screens */
  }

  .infoTable th {
    font-size: 14px;
    padding: 5px 20px;
  }

  .info-icon {
    margin-right: 0px;
  }

  .infoTable td {
    width: max-content;
    justify-content: center;
    font-size: 12px;
    padding: 5px;
  }

  .mh-30 {
    max-height: 25px;
  }
}
