.wallet-connector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.wallet-connector button:hover {
  transform: translateY(0) !important;
  background-color: #fff;
  color: #343a40;
}

.wallet-connector button:last-child {
  background-color: #343a40;
  color: #fff;
}

.connected-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wallet-address,
.wallet-balance {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}

.wallet-balance {
  font-weight: bold;
  color: #0f0;
}

/* Customize button with a specific class */
.rainbow-button {
  background-color: #f00;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

/* Add hover effect */
.rainbow-button:hover {
  background-color: #b00;
}

/* Enhanced styles for the Connect button */
.btn-primary {
  background: linear-gradient(
    90deg,
    #6a11cb 0%,
    #2575fc 100%
  ); /* Gradient effect */
  border: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background: linear-gradient(
    90deg,
    #2575fc 0%,
    #6a11cb 100%
  ); /* Reverse gradient */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  /* transform: translateY(-2px); Subtle hover lift */
}

.btn-primary:active {
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(0); /* Reset on click */
}

.btn-address {
  background-color: #ff4081;
  color: #fff;
}

.btn-address:hover {
  background-color: #fff;
  color: #ff4081;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .btn-primary {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}
